@import "global.scss";

div.submission-info {
  @import "styles/SubmissionVerdict.scss";

  a {
    color: $blue-dark;
  }
  h4 {
    margin: 5px 0;
  }
  hr {
    margin: unset;
    padding: unset;
  }
  td {
    padding: 5px !important;
  }

  div.row {
    margin: unset;
    display: block;
  }

  div.submission-details {
    padding-left: 5px;
    padding-right: 5px;
    h5 {
      display: inline;
    }

    div.general {
      .row {
        display: flex;
        white-space: pre;
        span {
          width: fit-content;
          white-space: pre;
          strong {
            padding-right: 10px;
          }
        }
      }
    }

    div.source {
      .ace_editor {
        border: solid 1px $base;
      }

      .accordion-button {
        padding: 5px 10px;
        box-shadow: none;

        &::after {
          display: none;
        }
      }

      .row {
        display: flex;
        white-space: pre;
        margin: 10px 0;
        span {
          width: fit-content;
          white-space: pre;
          strong {
            padding-right: 10px;
          }
        }
      }
      .accordion-body {
        padding: 0 !important;
      }
      .accordion-collapse {
        transition: height 0.2s ease-in-out !important;
      }
      .accordion-compile {
        white-space: pre !important;
        word-break: break-all;
      }
    }

    div.info-subsection {
      margin: 5px 0;
      padding: 5px 10px;
      border-bottom: solid 1px $background-gray;
      &:last-child {
        border-bottom: unset;
      }
    }
  }

  table {
    width: 100%;
    margin-top: 5px;
    td {
      border-top: unset;
      padding: unset;
    }
  }
  .test-case {
    &-result {
      background-color: $background-gray;
    }
    &-detail {
      background-color: $sub-bright;
      width: 100%;
      transition: all 0.2s;
    }
    &-detail__hide {
      visibility: collapse;
    }
    &-expand {
      background: none;
      border: none;
      transition: all 0.2s;
    }
    &-expand__rotate {
      transform: rotate(-90deg);
    }
    &-info {
      font-family: $font-monospace;
      h3 {
        font-size: 20px;
        margin-bottom: 0;
      }
      pre {
        margin-left: 5px;
        font-size: 16px;
      }
    }
  }
}
